body {
    margin: 0 0;
}


.all_display {

    display: flex;
    justify-content: space-between;
}

.entry_field {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.memo_list_wrapper {
    background-color: antiquewhite;
    height: 200px;
    width: 200px;
}

.memo_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memo_input{
    width: 50%;
}

.pop_display{
    width: 50%;
}

label,input {
    display: block;
}